@keyframes pisca {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

.urna {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
    
}
.tela {
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}
.teclado {
    margin-left: 30px;
    background-color: #403A3A;
}
.teclado--linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.teclado--botao {
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #FFF;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
}
.botao--branco {
    background-color: #FFF;
    color: #000;
    font-size: 15px;
}
.botao--corrige {
    background-color: #F09046;
    color: #000;
    font-size: 15px;
}
.botao--confirma {
    background-color: #48C079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;
}


.d-1 {
    flex: 1;
    display: flex;
    
}
.d-1-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
}
.d-1-1 {
    height: 50px;
    display: flex;
    align-items: center;
    
}
.d-1-2 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.d-1-3 {
    height: 50px;
    display: flex;
    
}
.numero {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    
    
}
.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
.d-1-4 {
    flex: 1;
    line-height: 30px;
}

.d-1-right {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.d-1-image {
    border: 1px solid #000;
    background-color: #FFF;
    text-align: center;
    font-size: 14px;
}
.d-1-image img {
    width: 100%;
    max-height: 100px;
}
.d-1-image.small {
    width: 80%;
    font-size: 12px;
}
.teste{
    background-color: red;
    display: block;
    visibility: visible;
    position: fixed;
    height: 1200px;
    width: 1200px;
}

.d-2 {
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
}

.aviso--grande {
    font-size: 40px;
    font-weight: bold;
}
.aviso--gigante {
    font-size: 70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .button{
    background-color: rgb(135, 214, 194);
    margin-top: 45px;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.5s;

}
section .button:hover{
    background-color: rgb(62, 163, 134);
}


.container-candidatos{
    display: grid;
    position: fixed;
    background: linear-gradient(42deg, rgb(228, 214, 214), rgb(27, 124, 48),rgb(62, 79, 235));
    width: 90vw;
    height: 95vh;
    margin-top: 2.5vh;
    margin-left: 5vw;
    top: 0;
    left: 0;  
    text-align: center; 
    overflow-y: auto;
    transition: all 0.5s;
    overflow-x: auto;
    
}
.titulo{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 5px;
    border-top: #E8E8E8 solid 0.5px;
     color: #fff;
}
.box-candidatos{
    
    height: 80%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}
.sec-cand-list{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.5s;
}
.exit{
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;    
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
}
.exit:hover{
    cursor: pointer;
    background-color: rgb(155, 155, 155);
}
.exit img{
    height: 35px;
}
.box{
    border: rgb(255, 255, 255) 3px solid;
    font-size: 17px;
}
.box img{
    max-height: 150px;
}
.box h3{
    font-weight: 700;
    color: #000000;
}
.box h4{
    font-weight: 800;
    color: rgb(110, 30, 30);
    
}

@media (max-width: 850px) {
    .urna{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .teclado{
        width: 500px;
        margin: 0;
    }
    
}
@media (max-width: 570px) {
    .tela{
        width: 400px;
    }
    .teclado{
        width: 400px;
    }
}
@media (max-width: 470px) {
    .tela{
        width: 280px;
    }
    .teclado{
        width: 280px;
    }
}